@font-face { 
  font-family:'Pprader';
  src:url('https://uploads-ssl.webflow.com/640333b292c9610b133ff0c5/646b2f04c90bbe0c4d34d9e7_PPRader-Bold.woff2') format('woff2');
  font-weight:700;
  font-style:normal;
  font-display:swap;
} 
@font-face { 
  font-family:'Pprader';
  src:url('https://uploads-ssl.webflow.com/640333b292c9610b133ff0c5/646b2f043d69c9698cd0692e_PPRader-Thin.woff2') format('woff2');
  font-weight:100;
  font-style:normal;
  font-display:swap;
} 
@font-face { 
  font-family:'Pprader';
  src:url('https://uploads-ssl.webflow.com/640333b292c9610b133ff0c5/646b2f046c21bdbdd85f5d52_PPRader-Regular.woff2') format('woff2');
  font-weight:400;
  font-style:normal;
  font-display:swap;
} 
:root{
	--green : #263a29;
	--cream : #f2e3db;
	--orange : #e86833;
	--lgreen : ;
}


body {
  font-family: "Pprader", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "ss06" , "ss14", "case" ,"ss01", "ss02";
}

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
/*
.main-container::-webkit-scrollbar {
  display: none;
}
*/
body{
	display: flex;
	justify-content: center;
	background: var(--green);
}
.main-container{
	display: block;
	position: absolute;
	height: fit-content;
	width: 100%;
	background: var(--green);
	max-width: 1600px;
}

.page1{
	height: 1093px;
	width: 100%;
	scroll-snap-align: flex-start;
}

.page2{
	height: 1100px;
	width: 100%;
	scroll-snap-align: flex-start;
}

.page3{
	position: relative;
	height: 1400px;
	width: 100%;
	scroll-snap-align: flex-start;
}

.page4{
	position: relative;
	height: 1200px;
	width: 100%;
	scroll-snap-align: flex-start;
}

.page5{
	position: relative;
	height: 1000px;
	width: 100%;
	scroll-snap-align: flex-start;
}

.page6{
	position: relative;
	height: 200px;
	width: 100%;
	scroll-snap-align: flex-start;
}









.page1{
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.page1 .headline{
	margin-top: 80px;
	font-size: 370px;
	color: var(--cream);
	font-weight: 600;
}
.page1 .headline b{
	color: var(--orange);
	font-weight: 600;
}

.page1 .image1{
	margin-top: 200px;
	position: absolute;
}
.page1 .image1 img{
	height: 500px;
	width: 100%;
}

.page1 .scrollcontaniner{
	display: flex;
	position: absolute;
	margin-top: 500px;
	height: 600px;
	width: 100%;
	overflow: hidden;
	background: var(--green);
}

.page1 .scrollcontaniner .scroller{
	display: flex;
	margin-left: 0px;
	transform: 0.2s;
	margin-top: 200px;
}

.page1 .scrollcontaniner .scroller span{
	font-size: 200px;
	color: transparent;
	-webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: var(--orange);
}


.page1 .scrollcontaniner .scroller span:nth-child(2){
	color: var(--cream);
	-webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: var(--cream);
}

.page1 .scrollcontaniner .scroller2{
	position: absolute;
	display: flex;
	margin-left: 0px;
	transform: 0.2s;
	margin-top: 400px;
}

.page1 .scrollcontaniner .scroller2 span{
	font-size: 200px;
	color: transparent;
	-webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: var(--cream);
}


.page1 .scrollcontaniner .scroller2 span:nth-child(3){
	color: var(--orange);
	-webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: var(--orange);
}








.page2{
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.page2 .image2{
	position: absolute;
	height: fit-content;
	width: fit-content;
	margin-left: 50px;
}

.page2 .image2 img{
	height: 500px;
	width: 100%;
}

.page2 .desginer{
	height: fit-content;
	width: fit-content;
	margin-top: 200px;
}

.page2 .desginer span{
	font-size:100px;
	font-weight: 600;
	color: var(--orange);
	opacity: 0.8;
}

.page2 .desginer span b{
	display: block;
	margin-top: 0px;
	font-size: 50px;
	font-weight: 500;
	color: var(--cream);
}

.page2 .infocontainer{
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: 100px;
}

.page2 .infocontainer .box{
	opacity: 1;
	width: 100%;
	max-width: 300px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 2.5em 1.5em 2.5em 1.875em;
	display: flex;
	position: relative;
	margin: 20px;
	color: var(--cream);
	font-size: 20px;
}

.page2 .infocontainer .box::before{
	content: "";
	position: absolute;
	inset: 0;
	background: var(--cream);
	clip-path: polygon(0 0,calc(100% - 2.00em) 0,100% 2.00em,100% 100%,0 100%,0 0,2px 2px ,2px calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(2.00em + 0.83px),calc(100% - 2.00em - 0.83px) 2px,2px 2px);

}

.page2 .infocontainer span:nth-child(even){
	position: absolute;
	right: 0;
	margin-top: -150px;
}

.page2 .infocontainer span img{
	height: 200px;
}




.page3{
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.page3 .image3{
	position: absolute;
	height: fit-content;
	width: fit-content;
	margin-left: 0px;
}

.page3 .image3 img{
	height: 1000px;
	width: 100%;
}

.infocar{
	height: fit-content;
	width: 100%;
}

.infocar span{
	font-size: 200px;
	font-weight: 600;
	color: var(--cream);
}

.infocar span:nth-child(odd){
	color: var(--orange);
}

.infocar span:nth-child(2){
	position: absolute;
	right: 0;
	margin-top: -400px;
	text-align: right;
}




.page4{
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.page4 .quote1{
	height: 200px;
	width: fit-content;
}

.page4 .quote1 span{
	font-size: 200px;
	font-weight: 600;
	color: var(--cream);
}

.page4 .imgscroller{
	position: absolute;
	margin-top: 300px;
	height: 400px;
	width: 100%;
}

.page4 .imgscroller .imgcontainer{
	height: fit-content;
	width: fit-content;
	display: flex;
	align-items: center;
	margin: 30px;
}

.page4 .imgscroller .imgcontainer span{
	display: block;
	height: 350px;
	width: 450px;
	margin-left: 20px;
	background: var(--orange);
	opacity: 0.8;
}
.page4 .imgscroller span img{
	display: block;
	height: 350px;
	width: 450px;
	opacity: 1;
}
.page4 .imgscroller .imgcontainer2{
	height: fit-content;
	width: fit-content;
	display: flex;
	align-items: center;
	margin: 30px;
}

.page4 .imgscroller .imgcontainer2 span{
	display: block;
	height: 350px;
	width: 450px;
	margin-left: 20px;
	background: var(--cream);
	opacity: 0.8;
}
.page4 .imgscroller span img{
	display: block;
	height: 350px;
	width: 450px;
	opacity: 1;
}

.page5{
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.page5 .image4{
	position: absolute;
	height: fit-content;
	width: fit-content;
}

.page5 .image4 img{
	height: 800px;
	width: 100%;
}

.page5 .rpm{
	position: absolute;
	height: 400px;
	width: fit-content;
}

.page5 .rpm span{
	font-size: 370px;
	font-weight: 600;
	color: var(--cream);
}

.page6{
	display: flex;
	justify-content: center;
}

.page6 span{
	position: absolute;
	font-size: 40px;
	color: var(--cream);
}

.page6 span b{
	color: var(--orange);
}

.page6 span b a{
	text-decoration: none;
	color: var(--orange);
}
.page6 span:nth-child(2){
	text-align: center;
	position: absolute;
	margin-top: 60px;
}
